 p{
    flex-wrap: wrap;
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    margin-top: 1rem;
    font-size: 15px;

} 

img{
    flex-wrap: wrap;
    width: 150px;
    height: 150px;

}


h1{
    flex-wrap: wrap;
    text-align: center;
    color: wheat;
    font-size: 60px;
    margin-top: 2rem;
} 
body {
    flex-wrap: wrap;
    font-family: Arial, sans-serif;
    background-color: black;
    margin-top: 2rem;
}


.container {
    flex-wrap: wrap;
    display: flex;
    justify-content: space-evenly;
    margin: 0 auto;
    padding: 5px;
    background-color: wheat;
    border-radius: 80px;
    box-shadow: 0 2px 5px rgba(2, 2, 01, 3);
}

button{
    flex-wrap: wrap;
    width: 90px;
    height: 35px;
}

h2{
    flex-wrap: wrap;
    color: brown;
}

